*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* body */
body {
    padding-top: 60px;
    background-color: black;
    color: white;
    height: 100vh;
}
/* fine body */

/* inizio header */
header {
    height: 50px;
    padding: 10px 10px 0 0;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

button{
    margin-left: 10px;
}

#speaker-view, #full-screen{
    padding: 10px 15px;
    background-color: #4A4A4A;
    border-radius: 10px;
    font-size: 25px;
    color: white;
}
/* fine header */

/* inizio maim */
main{
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.users-container{
    border: dashed 2px red;
    /* test */
    display: flex;
    flex-wrap: wrap;
}

.users-container .user{
    width: 100px;
    height: 300px;
    background-color: lightskyblue;
    border: solid 2px black;
    /* test */
    width: calc(100% / 7);
}

/* fine main */